@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 65px;
  --footer-height: 40px;
}

body {
  @apply text-black bg-white dark:text-white dark:bg-neutral-950;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  body {
    color: black;
    background: white;
  }
}

a {
  @apply rounded text-blue-700 font-extrabold cursor-pointer focus:ring-0 focus:ring-offset-0 focus-visible:no-underline focus-visible:shadow-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:text-blue-300 dark:focus-visible:ring-blue-500 dark:focus-visible:ring-offset-neutral-950;

  /* NextUI Link - START */
  &[data-focus="true"] {
    box-shadow: none !important;
  }
  /* NextUI Link - END */
}

a:hover,
a:focus-visible {
  @apply underline;
}
